<h3 style="color:blue;font-size:30px;text-align:center;"><b>Python Workshop</b> </h3>

<p style="font-size:15px; line-height:25px; color:green"> Python is the one of the most popular programming languages. Its a general purpose programming language that is easy for any beginners to follow and powerful enough to do almost all tasks including web scraping,web programming,automated bot,and many more.<br>
It is the de-facto language for machine learning and ai.<br> 
It was created by Guido van Rossum who released it in 1991 and gained popularity due to its easy syntax <br>
Why it is easy for beginners??<br>
<ul>
    <li>statement grouping is done by indentation instead of brackets</li>
    <li>no variable or argument declarations are necessary.</li>
    </ul>
</p>

Fun fact :: The Python was named as a tribute to British comedy group -Monty Python and nothing to do with reptiles

## Variables
Variables are containers for storing data values. It's a way to keep some value accesible for later use in your program. You can name your program *almost* anything. Exceptions are the words that are already defined in python language.

These are called **keywords** and they have pre-assigned standard values.

Some keywords in python are:

`and`, `or`, `not`, `for`, `while`, `break`, `continue`, `pass`, `if`, `elif`, `else`, `int`, `list`, `dict`, `float`, etc.

You can still redefine these as your variables but please avoid them as it'll save you from having to deal with a lot of trouble later on.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSMiYbN4mk9SMOrb8vJTN_23pwum_2cSHxTow&usqp=CAU" alt="python variables">

### Example code
Here we use variables to store different kinds of datatypes

```python
# int stores integer values
age = 20
# float takes in real values
marks = 70.54  
# string is for texts
name = "Jhilke" 

# list, as the name suggests, stores a list of values
# the types of value could be anything. int, float, str, etc.
interests = ["programming","math","physics","guitar playing"] 

# boolean values, also simply called bool, store logical values ie. True or False
passed = True

# dictionary is when you want to store key-value pairs
marks_more_clearly = {'calculus':50,'physics':70,'stat':80}

# set only stores unique value
# you might not use sets very often.
teacher_he_like = {'mbs sir','ps sir','ps sir','bdg sir','dp sir','ka sir','ka sir','bdg sir'}  

```

<img align=center src="https://media.geeksforgeeks.org/wp-content/uploads/20200421145823/memory-allocation-python-1.jpg" style="height:200px;">

### Numeric data types
- `int`, `float`
- operations
- conversion
- printing them out

### Operators in python
This webpage has a nice table for all the operators.
https://www.w3schools.com/python/python_operators.asp

But the summary is - every standard operations that you can think of has an implementation.

```python
###Arithmetic operators
add=5+2     #7
subt=5-2    #3
mult=5*2    #10
div=5/2     #2.5
mod=5%2     #1  ##remainder
expo=5**2    #25
floor=5//2   #2  
```
```python
###Assignment operator
num=10
num+=4  #14  ### num=num+4
num-=14  #-4  ### num=num-14=10-14=-4
num*=2  #20
num/=2  #5.0
num%=2  #0
num**=2 #100
num//=2 #5
```
```python
##Comparison operator
num1=10
num2=40

num1==num2 #False
num1!=num2  #True
num1< num2  #True
num1>num2 #False
```

In [4]:
## example-operators
height = 3
base = 4

area=(1/2)*base*height
print(area)

6.0

## String

- assign
- join, concat
- indexing
- splicing/slicing

#### Some code examples using string

```python
s1="Python"

# joining two strings together is called 'concatenation`
# or simply concat
s2="it is typed " + s1

'py''thon'  ##automatically concatenated
```

#### Indexing
Each character in a string is assigned an index, which is a integer value indicating it's position in the string. For eg.

```python

s1 = "Python"
#  +---+---+---+---+---+---+
#  | P | y | t | h | o | n |
#  +---+---+---+---+---+---+
#  0   1   2   3   4   5   6
# -6  -5  -4  -3  -2  -1

s1[4]    # o

s1[0:4]  # equivalent to s1[:4]
s1[1:4]
s1[5:]

s1[::]#----> s1[start:stop(exclusive):step]
s1[1:5:2]
s1[-1:-4:-1]
```

#### Methods in strings
We want to make different kinds of manipulation to strings in our programs. Python provides ways to do many such kinds of manipulation.

These are called methods. Methods are specific to data type. 

So, `int` and `str` have their own separate methods

```python
s1.lower()
s1.upper()

s1.split("h")

line = "Python is awesome!"
line.split(" ") # that's a space in between quotes

line.upper()
line.lower()

line.replace("Python", "C++")
```

You can always google to find more methods available for strings!

### Formatted printing
Just put them in the curly braces!
```python
age = 18
print("I'm {age} years old.")
```

### Taking input

In [ ]:
name = input("What is your name??")
test = f"my name is {name}"
print(test)

<h4>Logical Operators</h4>
<ul>
    <li>and</li>
    <li>or </li>
    <li>not </li>
    </ul>

<img src="">

<img src="https://projectiot123.com/wp-content/uploads/2019/05/OR-GATE.jpg" style="height:200px">

In [ ]:
#Logical operator
num1=10
num2=20
num3=30
num4=40

num1<num2 and num3<num4  ##True
num1 >num2 and num3<num4 ##False

num1>num2 or num3<num4  #True
num1<num2 or num3>num4  #False

not num1<num2

---

### Conditionals
```python
if (this condition):
    do this code
elif (this one):
    do this instead
else:
    this
```

<img src="https://beginnersbook.com/wp-content/uploads/2017/09/If_else_flow_diagram_C.jpg">

In [ ]:
x=40
y=50

if x<y:
    print("x is greater")
elif x>y:
    print("x is less")
else:
    print("x is equal")

In [4]:
#eg-conditional
##example-operators
height=int(input("Enter height: "))
base=int(input("Enter base: "))

if height>0 and base>0:
    area=(1/2)*base*height
    print(area)
else:
    if height==0 or width==0:
        print("Your base or height is 0 please enter more than 0")
    elif height<0 or width<0:
        print("Your base or height is less than 0 please enter less than 0")

Enter height: 0
Enter base: 0
Please enter valid base and height

<h3>Excersice 1--fizzbuzz </h3>
    <ul>
        <li>Takes number from user</li>
        <li>If number is divisible by 3 print "fizz"</li>
        <li>If number is divisible by 5 print "buzz"</li>
        <li>If number is divisible by both 3 and 5 print "fizzbuzz"</li>
        <li>If number is not divisible by both return the same number </li>
    </ul>

In [ ]:
##eg if input is 9 print fizz
##eg if input is 10 print buzz
##eg if input is 15 print fizzbuzz

###TODO

<h6>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>

<p style="font-size:20px"><b>FUNCTION</b></p><br>
<p style="font-size:15px;line-height:40px;font-style=sans-serif"><i>
A function is a block of code which only runs when it is called.<br>
You can pass data, known as parameters, into a function.A function can return data as a result.<br>
Its just like mathematics function.. you give it some input and it process and carry out some operation and return you output<br>  
</i>
Why function???
    <ul>
    <li> Functions allow us to divide the problem into logical chunks of sub-problems that
        we can separately deal with.</li>
        <li>makes code more readable and more structured!
        </li>
        <li>
            makes debugging easy !
        </li>
</ul>
</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-YS_kbnG1q7nMwL7lBgCdGXdXxYDLUEfCdw&usqp=CAU">

In [2]:
##eg-1

def add(a,b):    #---->parameter 
    return a+b

x=4
y=5
sum=add(x,y)    #------>argument

<img src="">

In [4]:
def add_string(name):
    return "Welcome "+name

add_string("Binit")

'Welcome Binit'

In [9]:
##eg function--area
height=int(input("Enter height: "))
base=int(input("Enter base: "))

def area(h,b):
    a=(1/2)*b*h
    return a

def check(h,b):
    if h==0 or b==0:
        print("Your base or height is 0 please enter more than 0")
    elif h<0 or b<0:
        print("Your base or height is less than 0 please enter less than 0")

if height>0 and base>0:
    a=area(height,base)
    print(a)
else:
    check(height,base)

Enter height: -1
Enter base: 1
Your base or height is less than 0 please enter less than 0

In [8]:
##arbitraty arguments 
def testt(*args):
    return args[0],args[1],args[2]
testt(42,43,123)

(42, 43, 123)

<h3>Excersice 2--function-->swap numbers</h3><br>
take two inputs from user num1 and num2 and swap the value "stored" in variables <br>
num1=10  and num2=20<br>
|<br>
|<br>
 function <br>
 |<br>
 |<br>
num1=20  and num2=10

In [13]:
num1=int(input("First number"))
num2=int(input("Second number"))

#TODO

First number4
Second number4

<h3>LISTS</h3>

In [ ]:
squares=[1,4,9,16,25]
squares[-1] #25
squares[1:3] #[4,9]
squares[::2] #[1,9,25]

#mutable
squares[3]=36 ##[1,4,9,36,25]
squares.append(7**2)  #[1, 4, 9, 36, 25, 49]

squares.pop()  #removes last item from list [1, 4, 9, 36, 25]
len(squares) #5

#nesting lists
a=[2,3,4]
b=['bin','nit']
l=[a,b]
print(l)

<h3>Dictionary</h3>

In [ ]:
#dictionary  key-value pair .....like here nepal(country) is key and kathmandu(capital) is value
country_capital={
    'nepal':'kathmandu',
    'india':'new delhi',
    'pakistan':'islamabad'
}

country_capital['nepal']   ##kathmandu
country_capital['china']='beijing'

country_capital

---

<p style="font-size:20px"><b>LOOPS</b></p>

-for loop<br>
-while loop

<img src="https://lh3.googleusercontent.com/proxy/xepFW_qXbayxl0PANGc8LyxDhOVS-PgCHSI3l-c0M4bhOB7lNAG4PW781o_wCG9yxicNqxZ9gohf24q5mas-8KlMYP9gqBypN1qqOikcxqo">

In [ ]:
name="niteerw"
"nit" in name   ##"in" is a membership operator 
##Membership operators are used to test if a sequence is presented in an object:

In [ ]:
numbers_list=[1,2,3,4,5,6,7,8,9,10]
for i in numbers_list:
    print(i)

for i in range(100):
    print(i)
    
print(i)
for i in range(50,56,2):
    print(i)

In [ ]:
#A for loop is used for iterating over a sequence (list,string,dictionary,tuple)
##example-1 lists ##
fruits=['apple','cherry','banana','pineapple']
for fruit in fruits:
    print(fruit)
print()

In [ ]:
## example-2 dictionary##
country_capital={'nepal':'kathmandu','india':'new delhi','pakistan':'islamabad'}
for item in country_capital:
    print(item)             ###only give key

print()

for item in country_capital:
    print(country_capital[item])   ##accesing value
print()
    
for item in country_capital.values():
    print(item)
print()

print(country_capital.items())
for item,value in country_capital.items():
    print(value)

In [ ]:
##more complex logics
teachers=["PS sir","DP sir","KA sir","SNS sir"]
for teacher in teachers:
    print(teacher)

for teacher in teachers:
    if (teacher=="SNS sir"):
        break
    print(teacher)

In [4]:
##glance at while
##while loop is executed until the condition is met
i=1
while i<10:
    print(i)
    i+=1
    if i==8:
        break

1
2
3
4
5
6
7

<h3>Excersice 3--Hacking ATM by bruteforcing</h3>
<p>
    You should write a program that can check if the number is the atm pin of user...manually we have to first check 1 and 2 and 3 and 4 and 5....and as atm pin is 4 digit long it will take us (in worst case) 9999 attempt to crack the pin..
    but we dont want to do that manually as it will take us hell lot of time that is where power of loop comes 
</p>
<p>
    Your task is to take input from user and ask for them for their pin number..(arbitrary)<br> 
    and you should print "You have been hacked haha" when u are able to crack their number and also print the number inputed by user<br>
    </p>
    <p>
    Dont think much Take easy approach:)</p>

In [14]:
correct_pin=int(input("Enter your pin number"))
#TODO

Enter your pin number4

<h3>Excersice 4--print all squares</h3><br>
Take an input from user (for eg:5) and for all non-negative number less than user's input print i**2 <br>
for eg if i=10 your program should print i=[0,1,4,9,16,25,36,49,64,81] (not including 10)

In [24]:
num_input=int(input("Your input: "))
#TODO

Your input: 4
[0, 1, 4, 9]

In [1]:
import jovian

In [2]:
jovian.commit()

[jovian] Attempting to save notebook..
[jovian] Updating notebook "binit-dhakal/worshop-3f1fc" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Capturing environment..
[jovian] Committed successfully! https://jovian.ml/binit-dhakal/worshop-3f1fc

'https://jovian.ml/binit-dhakal/worshop-3f1fc'