<h3 style="color:blue;font-size:30px;text-align:center;"><b>Python Workshop</b> </h3>

<p style="font-size:15px; line-height:25px; color:green"> Python is the one of the most popular programming languages. Its a general propose programming language that is easy for any beginners to follow and powerful enough to do almost all tasks including web scraping,web programming,automated bot,and many more.<br>
It is the de-facto language for machine learning and ai.<br> 
It was created by Guido van Rossum who released it in 1991 and gained popularity due to its easy syntax <br>
Why it is easy for beginners??<br>
<ul>
    <li>statement grouping is done by indentation instead of brackets</li>
    <li>no variable or argument declarations are necessary.</li>
    </ul>
</p>

Fun fact :: The Python was named as a tribute to British comedy group -Monty Python and nothing to do with reptiles

<p style="font-size:20px"><b>VARIABLES</b></p>
    <h5>Variables are containers for storing data values.</h5>
    <h6>Immutable</h6>
    <ul>
        <li>Integer</li>
        <li>Float</li>
        <li>String--str</li>
        <li>Tuple</li>
        <li>Bool--bool</li>
        <li>Range</li>
    </ul>
    <h6>Mutable</h6>
    <ul>
        <li>List</li>
        <li>Dictionary</li>
        <li>Set</li>
    </ul>

In [ ]:
#student 
age=20    ##integer can be positive or negative
marks=70.54  ##float
name="Jhilke" ##string
interests=["programming","math","physics","guitar playing"] ##we can add item later to this list
marks=(50,70,80) #marks in first term calculas,physics,stat ##this cannot be changes  #tuple
passed=True #or False ##Bool
marks_more_clearly={'calculas':50,'physics':70,'stat':80} #dictionary stores key-value pairs
teacher_he_like={'mbs sir','ps sir','ps sir','bdg sir','dp sir','ka sir','ka sir','bdg sir'}  #set only stores unique value
teacher_he_like

In [ ]:
##mutable and immutable 
##we can see the memory adress of integer changes but of list dont change so int is immutable and list is mutable
##IMMUTABLE
age=20
print(id(age))  ##140709483287968 ##memory adress will change each time.. this is done for security proposes

age=age+30
print(id(age))  ##140709483288928

##MUTABLE -list,dictionary
test=[1,2,3,4]
print(id(test))  ##2008098572360

test.append(5)
print(id(test))  ##2008098572360

<h3>STRING</h3>
<p style="font-size:15px">
---->initialization<br>
---->concatenation<br>
---->indexing<br>
---->some methods</p>

In [ ]:
###STRING###

s1="Python"  ##initialization
s2="it is typed "+s1  ##'It is typed I am a string' ##string concatenation
'py''thon'  ##automatically concatenated

##INDEXING##
s1[4]    ##o
                        #  +---+---+---+---+---+---+
                        #  | P | y | t | h | o | n |
                        #  +---+---+---+---+---+---+
                        #  0   1   2   3   4   5   6
                        # -6  -5  -4  -3  -2  -1
s1[0:4]  #s1[:4]
s1[1:4]
s1[5:]

s1[::]#----> s1[start:stop(exclusive):step]
s1[1:5:2]
s1[-1:-4:-1]

##methods in strings
s1.lower()
s1.upper()

s1.split("h")
num=300
# str0="I love you"+num  ###Type error: can only concatenate str (not "int") to str
str0="I love you {0}".format(num)
str00=f"I love you {num}"
str00.isalpha()  #Returns True if all characters in the string are in the alphabet
str00.isalnum()  #Returns True if all characters in the string are alphanumeric
str00.isdigit()  #Returns True if all characters in the string are digits
str00.islower()  #	Converts a string into lower case

len(str00)  #14

<h3>LISTS</h3>

In [ ]:
squares=[1,4,9,16,25]
squares[-1] #25
squares[1:3] #[4,9]
squares[::2] #[1,9,25]

#mutable
squares[3]=36 ##[1,4,9,36,25]
squares.append(7**2)  #[1, 4, 9, 36, 25, 49]

squares.pop()  #removes last item from list [1, 4, 9, 36, 25]
len(squares) #5

#nesting lists
a=[2,3,4]
b=['bin','nit']
l=[a,b]
print(l)

<h3>Dictionary</h3>

In [ ]:
#dictionary  key-value pair .....like here nepal(country) is key and kathmandu(capital) is value
country_capital={
    'nepal':'kathmandu',
    'india':'new delhi',
    'pakistan':'islamabad'
}

country_capital['nepal']   ##kathmandu
country_capital['china']='beijing'

country_capital

<h6>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>

<p style="font-size:20px"><b>Operators</b><p>
    <h6>Arithmetic operator</h6>
    <ul>
        <li>+     Addition</li>
        <li>-     Subtraction</li>
        <li>*     Multiplication</li>
        <li>/     Division</li>
        <li>%     Modulus</li>
        <li>**    Exponentiation</li>
        <li>//    Floor division</li>
     </ul>
     
   <h6>Comparison Operator</h6>
   <ul> 
    <li> ==    Equal </li>
    <li> !=    Not Equal </li>
    <li>  >      Greater Than </li>
    <li>  <     Less than </li>
    <li>  >=    Greater than and equals to </li>
    <li>   <=   Less than and equals to </li>

In [ ]:
###Arithmetic operators
add=5+2     #7
subt=5-2    #3
mult=5*2    #10
div=5/2     #2.5
mod=5%2     #1  ##remainder
expo=5**2    #25
floor=5//2   #2  

###Assignment operator
num=10
num+=4  #14  ### num=num+4
num-=14  #-4  ### num=num-14=10-14=-4
num*=2  #20
num/=2  #5.0
num%=2  #0
num**=2 #100
num//=2 #5

##Comparison operator
num1=10
num2=40

num1==num2 #False
num1!=num2  #True
num1< num2  #True
num1>num2 #False

<h6>Logical Operators</h6>
<ul>
    <li>and</li>
    <li>or </li>
    <li>not </li>
    </ul>

In [ ]:
#Logical operator
num1=10
num2=20
num3=30
num4=40

num1<num2 and num3<num4  ##True
num1 >num2 and num3<num4 ##False

num1>num2 or num3<num4  #True
num1<num2 or num3>num4  #False

not num1<num2

<h6>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>

<p style="font-size:20px"><b>Conditionals</b></p><br>
if condition:<br>
<span style="text-indent:45px">Do this !!!</span><br><br>
elif condition:<br>
<t>Do this !!!</t><br><br>
else:<br>
<t>Do this!!!</t><br>

In [ ]:
x=40
y=50

if x<y:
    print("x is greater")
elif x>y:
    print("x is less")
else:
    print("x is equal")

In [ ]:
#taking input from user
name=input("What is your name??")
test=f"my name is {name}"
test

#broadcasting
# int()
# float()

<h3>Excersice 1--fizzbuzz </h3>
    <ul>
        <li>Takes number from user</li>
        <li>If number is divisible by 3 print "fizz"</li>
        <li>If number is divisible by 5 print "buzz"</li>
        <li>If number is divisible by both 3 and 5 print "fizzbuzz"</li>
        <li>If number is not divisible by both return the same number </li>
    </ul>

In [ ]:
##eg if input is 9 print fizz
##eg if input is 10 print buzz
##eg if input is 15 print fizzbuzz

num=int(input())
# num=int(num)
if num%3==0 and num%5==0:
    print("fizzbuzz")
elif num%3==0:
    print("fizz")
elif num%5==0:
    print("buzz")
else:
    print(num)

<h6>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>

<p style="font-size:20px"><b>LOOPS</b></p>

-for loop<br>
-while loop

In [ ]:
name="niteerw"
"nit" in name   ##"in" is a membership operator 
##Membership operators are used to test if a sequence is presented in an object:

In [ ]:
#A for loop is used for iterating over a sequence (list,string,dictionary,tuple)
##example-1 lists ##
fruits=['apple','cherry','banana','pineapple']
for fruit in fruits:
    print(fruit)
print()

In [ ]:
## example-2 dictionary##
country_capital={'nepal':'kathmandu','india':'new delhi','pakistan':'islamabad'}
for item in country_capital:
    print(item)             ###only give key

print()

for item in country_capital:
    print(country_capital[item])   ##accesing value
print()
    
for item in country_capital.values():
    print(item)
print()

print(country_capital.items())
for item,value in country_capital.items():
    print(value)

In [ ]:
numbers_list=[1,2,3,4,5,6,7,8,9,10]
for i in numbers_list:
    print(i)

for i in range(100):
    print(i)
    
print(i)
for i in range(50,56,2):
    print(i)

In [ ]:
##more complex logics
teachers=["PS sir","DP sir","KA sir","SNS sir"]
for teacher in teachers:
    print(teacher)

for teacher in teachers:
    if (teacher=="SNS sir"):
        break
    print(teacher)

In [4]:
##glance at while
##while loop is executed until the condition is met
i=1
while i<10:
    print(i)
    i+=1
    if i==8:
        break

1
2
3
4
5
6
7

<h6>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h6>

<h3>Excersice 2--Hacking ATM by bruteforcing</h3>
<p>
    You should write a program that can check if the number is the atm pin of user...manually we have to first check 1 and 2 and 3 and 4 and 5....and as atm pin is 4 digit long it will take us (in worst case) 9999 attempt to crack the pin..
    but we dont want to spend that much time to crack a simple four digit number .. that is where power of loop comes 
</p>
<p>
    Your task is to take input from user and ask for them for their pin number..(arbitrary)<br> 
    and you should print "You have been hacked haha" when u are able to crack their number and also print the number inputed by user<br>
    </p>
    <p>
    Dont think much Take easy approach:)</p>

In [11]:
correct_pin=int(input("Enter your pin number"))
for i in range(10000):
    if (i==correct_pin):
        print(i)
        print("You have been hacked hahaha")

Enter your pin number8999
8999
You have been hacked hahaha

<h3>Excersice 3--print all squares</h3><br>
Take an input from user (for eg:5) and for all non-negative number less than user's input print i**2 <br>
for eg if i=10 your program should print i=[0,1,4,9,16,25,36,49,64,81] (not including 10)

In [24]:
num_input=int(input("Your input: "))
result=[]
for i in range(num_input):
    square=i**2
    result.append(square)
print(result)

# result=[i**2 for i in range(num_input) if i<4] ##LIST comprehension
# result

Your input: 4
[0, 1, 4, 9]

<p style="font-size:20px"><b>FUNCTION</b></p><br>
<p style="font-size:15px;line-height:40px;font-style=sans-serif"><i>
A function is a block of code which only runs when it is called.<br>
You can pass data, known as parameters, into a function.A function can return data as a result.<br>
Its just like mathmatics function.. you give it some input and it process and carry out some operation and return you output<br>  
</i>
Why function???
    <ul>
    <li> Functions allow us to divide the problem into logical chunks of sub-problems that
        we can separately deal with.</li>
        <li>makes code more readable and more structured!
        </li>
        <li>
            makes debugging easy !
        </li>
</ul>
</p>

In [2]:
##eg-1

def add(a,b):    #---->parameter 
    return a+b

x=4
y=5
sum=add(x,y)    #------>argument

In [4]:
def add_string(name):
    return "Welcome "+name

add_string("Binit")

'Welcome Binit'

In [8]:
##arbitraty arguments 
def testt(*args):
    return args[0],args[1],args[2]
testt(42,43,123)

(42, 43, 123)

<h3>Excersice 4--function-->swap numbers</h3><br>
take two inputs from user num1 and num2 and swap the value "stored" in variables <br>
num1=10  and num2=20<br>
|<br>
|<br>
 function <br>
 |<br>
 |<br>
num1=20  and num2=10

In [26]:
num1=int(input("First number"))
num2=int(input("Second number"))

def swap(a,b):
    temp=a
    a=b
    b=temp
    return a,b

num1,num2=swap(num1,num2)
print(f"num1 is {num1}")
print(f"num2 is {num2}")

First number45
Second number43
num1 is 43
num2 is 45